API_KEY=MojeSuperTajneHasloZabezpieczajace123!
ADMIN_USERNAME=admin
ADMIN_PASSWORD=SuperTajneHasloStartowe123!
DISABLE_REGISTRATION=true
JWT_SECRET=WpiszTutajDlugiLosowyCiągZnakówDoSzyfrowaniaTokenów