API_KEY=MojeSuperTajneHasloZabezpieczajace123!
ADMIN_USERNAME=admin
ADMIN_PASSWORD=SuperTajneHasloStartowe123!
DISABLE_REGISTRATION=true
JWT_SECRET=WpiszTutajDlugiLosowyCiągZnakówDoSzyfrowaniaTokenów
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=e-mail_address@gmail.com
SMTP_PASS="abcd abcd abcd abcd"
